@use "reset";

$pr-color: #fe3120;


.message {
  color: $pr-color;
  font-size: 38px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;

  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 7px yellow;
  background: #000000cc;
}
